html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

/*Global*/
a, a:visited {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

nav {
	position: absolute;
	width: 100%;
	z-index: 1;
	display: flex;
	margin-left: 10%;
	font-family: 'Consolas', monospace;
	font-size: 1.2em;
	padding: 24px 0;
	color: white;
}

nav > a {
	margin-right: 48px;
	opacity: 0.8;
}

nav > a:hover {
	opacity: 1;
}

h1 {
	margin: 0;
	font-weight: normal;
	font-family: 'Anke', sans-serif;
	font-size: 4.5em;
	line-height: 1em;
}

h2 {
	margin: 0;
	font-weight: normal;
	font-family: 'Anke', sans-serif;
	font-size: 1.6em;
	line-height: 1em;
	opacity: 0.6;
}

/**/
header {
	width: 100%;
	height: 80%;
	overflow: hidden;
	position: relative;
}

header .container {
	clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

.video-bg {
	position: fixed;
	min-height: 100vh;
	min-width: 100vw;
	height: auto;
	width: auto;
	z-index: -100;
}

.h-container {
	height: 100%;
	width: 100%;
	background-color: rgba(20, 90, 20, 0.8);
	display: flex;
}

.title {
	font-family: 'Anke', sans-serif;
	color: white;
	margin-left: 10%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.actions {
	margin-top: 32px;
	display: flex;
}

.actions a:not(.offline) {
	display: block;
	margin-right: 16px;
	padding: 12px;
	min-width: 130px;
	border-radius: 3px;
	text-align: center;
	font-size: 1.2em;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
	color: black;
	background-color: white;
}

.actions a:not(.offline):hover {
	background-color: #eeeeee;
}

.actions a.offline {
	position: absolute;
	opacity: 0.6;
	margin-top: 4px;
	border-bottom: 1px dotted white;
}

.actions a.offline:hover {
	opacity: 1;
}

.a-buy {
	background-color: #EEFF41 !important;
}

.a-buy:hover {
	background-color: #E4F900 !important;
}

.a-buy-wrapper img {
	height: 16px;
	position: absolute;
	margin-top: 8px;
}

.trailer-wrapper {
	position: absolute;
	width: 40%;
	z-index: 2;
	bottom: 0;
	right: 10%;
}

.social-media {
	display: flex;
	padding: 8px 0;
}

.social-media a img {
	height: 2em;
	margin-right: 12px;
}

.trailer {
	position: relative;
	padding-bottom: 56.25%;
}

.trailer iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*Content*/
.container {
	height: 100%;
}
