:root {
	--color-acc: #EEFF41;
	--color-acc-hover: #E4F900;
	--color-main: #7DB163;
	--wrap: 10%;
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 18px;
}

* {
	box-sizing: border-box;
}

/* Global */

a, a:visited {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

h1 {
	margin: 0;
	font-family: 'Anke';
	font-size: 2.7rem;
	font-weight: normal;
}

h2 {
	margin: 0;
	font-family: 'Anke';
	font-size: 2rem;
	font-weight: normal;
}

.nav-container {
	background-color: rgba(255, 255, 255, 0.2);
	position: absolute;
	width: 100%;
	z-index: 1;
	display: flex;
}

nav {
	display: flex;
	margin-left: var(--wrap);
	font-family: 'Consolas', monospace;
	font-size: 1.2em;
	padding: 16px 0;
	color: white;
	align-items: center;
}

nav > a {
	opacity: 0.8;
}

nav > a:not(:last-of-type) {
	margin-right: 48px;
}

nav > a:hover {
	opacity: 1;
}

.social-media {
	display: flex;
	padding: 8px 0;
	margin-left: 0;
	margin-right: 10%;
}

.social-media a:not(:last-of-type) {
	margin-right: 16px;
}

.social-media a img {
	height: 1.4em;
}

/* Header */

header {
	width: 100%;
	height: 80vh;
	overflow: hidden;
	position: relative;
}

header .container {
	background-image: url(../res/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
	height: 100%;
}

.h-container {
	height: 100%;
	width: 100%;
	background-color: rgba(22, 47, 22, 0.5);
	display: flex;
}

.title {
	font-family: 'Anke', sans-serif;
	color: white;
	margin-left: var(--wrap);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title h1 {
	font-size: 4.5em;
	line-height: 1em;
}

.title h2 {
	font-size: 1.6em;
	line-height: 1em;
	opacity: 0.6;
}

.actions {
	margin-top: 32px;
	display: flex;
}

.actions a:not(.offline) {
	display: block;
	margin-right: 8px;
	padding: 12px;
	min-width: 150px;
	text-align: center;
	font-size: 1.2em;
	color: black;
	background-color: #ffffff;
}

.actions a:not(.offline):hover {
	background-color: #eeeeee;
}

.actions a.offline {
	position: absolute;
	opacity: 0.6;
	margin-top: 4px;
	border-bottom: 1px dotted white;
}

.actions a.offline:hover {
	opacity: 1;
}

.a-buy {
	background-color: var(--color-acc) !important;
}

.a-buy:hover {
	background-color: var(--color-acc-hover) !important;
}

.a-buy-wrapper img {
	height: 16px;
	position: absolute;
	margin-top: 8px;
}

.trailer-wrapper {
	position: absolute;
	width: 40%;
	z-index: 2;
	bottom: 0;
	right: var(--wrap);
}


.trailer {
	position: relative;
	padding-bottom: 56.25%;
	border-top: 3px solid var(--color-acc);
}

.trailer iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Content */

section > * {
	padding: 0 var(--wrap);
}

*[wrap] {
	padding: 0 var(--wrap);
}

.features {
	height: 100%;
	margin-top: 10vh;
	color: white;
}

.f-header {
	height: 25vh;
	padding-top: 1.2em;
	background-color: #ECEFF1;
	clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
	display: flex;
	align-items: center;
	color: black;
}

.features > div {
	padding-top: 2em;
	padding-bottom: 2em;
	background-position: center;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.features > div p {
	width: 30em;
	line-height: 1.4;
}

.f-build {
	background-color: #43A047;
}

.f-develop {
	background-color: #3F51B5;
}

.f-manage {
	background-color: #9C27B0;
}

.f-mod {
	background-color: #F4511E;
}

.f-share {
	background-color: #000000;
}
